* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
body{
    background-color: #294b86;
    user-select: none;
}
header{
    top: 3%;
    left: 10%;
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6e8ee;
    border: 1px solid #000000;
    border-radius: 100px;
    box-shadow: 0 0 13px rgba(0, 0, 0, .7);
    z-index: 4;
    animation: BOU 1s ease;
}
@keyframes BOU{
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
header .logo{
    margin-left: 5%;
    width: 10%;
}
header a img{
    top: 0;
    left: 0;
    width: 70%;
}
header .chu_header a{
    color: #02457a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 25px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
header .chu_header a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 19%;
  width: 0%;
  height: 2px;
  background: #02457a;
  z-index: -1;
  transition: .3s ease;
}
header .chu_header a:hover::before{
  width: 60%;
}
.timkiem .timkiem_bang{
    background-color: #000000;
    border: none;
    outline: none;
    width: 0;
    font-size: 18px;
    border-radius: 20px;
    width: 0;
    padding: 0;
    color: white;
    transition: all .25s ease-in-out;
}
.timkiem .timkiem_bang:hover{
    width: 200px;
    padding: 11px 15px;
}
.timkiem .timkiem_chu{
  vertical-align: top;
  text-align: right;
  font-size: 18px;
  background-color: #e80b0b;
  cursor: pointer;
  border: none;
  padding: 11px;
  border-radius: 50%;
}
.nut{
  padding: 20px 35px;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 40px;
  background-color: #121b46;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
  outline: none;
  border: 2px solid #121b46;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.nut::before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  background: #d6e8ee;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: .3s;
}
.nut:hover::before{
  width: 100%;
}
.nut:hover{
  color: #121b46;
}
.home-section{
  margin-bottom: 10%;
  padding: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section .image{
  margin-top: 8%;
  margin-left: 10%;
  width: 25%;
  opacity: 0;
  animation: HUHU 3s 0.8s ease;
}
@keyframes HUHU{
  0%{
    margin-left: 30%;
    width: 50%;
  }
  50%{
    margin-left: 30%;
    width: 35%;
    opacity: 1;
  }
  100%{
    width: 25%;
    opacity: 1;
  }
}
.home-section .text_Home_section{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 8%;
  margin-right: 10%;
  text-align: right;
  opacity: 0;
  animation: HIHI 1s 3.7s ease;
}
@keyframes HIHI{
  0%{
    transform: translateX(150px);
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}
.home-section .text_Home_section .chu_dau{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
  font-size: 30px;
  color: #d6e8ee;
  font-weight: bold;
}
.home-section .text_Home_section p{
  font-size: 25px;
  color: #d6e8ee;
  font-weight: 500;
}

.home-section .text_Home_section h2{
  font-size: 60px;
  color: #3fa8b8;
  font-weight: 700;
}
.home-section .text_Home_section h2 span{
  font-size: 60px;
  color: #6d2fb5;
  font-weight: 700;
}
.home-section .thanh{
  margin-top: 8%;
  height: 400px;
  width: 10px;
  background-color: #2f1949;
  border: none;
  opacity: 0;
  border-radius: 10px;
  
  animation: kk 1.5s 4.9s  ease-in-out;
}
@keyframes kk{
 0%{
    height: 0;
    }
  100%{
    height: 400px;
  }
}
.home-section-1{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, .8);;
}
.text_gioi_thieu{
  margin-left: 10%;
  animation: 0;
  opacity: 0;
}
.text_gioi_thieu h1{
  margin-bottom: 15%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  color: whitesmoke;
}
.text_gioi_thieu h1 span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: rgb(77, 29, 189);
}
.text_gioi_thieu p{
  
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
}
.hinh_anh_1 {
  height: 330px;
  width: 500px;
  margin-right: 10%;
  border: 10px solid #6d2fb5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.hinh_anh_1 img{
  position: absolute;
  width: 100%;
}
/* dòng này dúng để thêm vào nội dunng lịch sử */
.text_gioi_thieu-1{
  opacity: 0;
  margin-right: 10%;
  text-align: right;
  animation: 0 ;
}
@keyframes luotbentrai{
  0%{
    transform: translateX(200px);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes luotbenphai{
  0%{
    transform: translateX(-200px);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}
.text_gioi_thieu-1 h1{
  margin-bottom: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: whitesmoke;
}
.text_gioi_thieu-1 h1 span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: rgb(77, 29, 189);
}
.text_gioi_thieu-1 p{
  
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
}
.hinh_anh_2{
  height: 330px;
  width: 500px;
  margin-left: 10%;
  border: 10px solid #6d2fb5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: 0;
}

/* text đầu */
.text_dau{
  margin-top: 5%;
  text-align: center;
  
}
.text_dau h1{
  font-size: 75px;
  color: #d6e8ee;
  font-weight: 700;
}
.text_dau h1 span{
  font-size: 75px;
  color: #011d34;
  font-weight: 700;
}
.text_dau h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #011d34;
}
.text_dau h2 span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #d6e8ee;
}
/* thành viên */
.home-section-thanh-vien{
  
  padding: auto;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* dòng này dùng để làm khung bên trái của thành viên */
.khung_ben_trai {
  height: 200px;
  width: 1000px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 0px 13px, rgba(0, 0, 0, .5);
  animation: 0;
}
.khung_ben_trai .hinh_anhthanhvien_T{
  margin-left: 3%;
  height: 150px;
  width: 300px;
  margin-right: 10%;
  border: 5px solid #6d2fb5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 15px #6d2fb5 ;
 
  animation: 0;
}
.khung_ben_trai .hinh_anhthanhvien_T .img{
  position: absolute;
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
}
.khung_ben_trai .text_thanhvien_T{
  margin-right: 3%;
  font-size: 30px;
  font-weight: 800;
  color: white;
}
.khung_ben_trai .text_thanhvien_T h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 800;
}
.khung_ben_trai .text_thanhvien_T p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 800;
}
 /* dòng này dùng để làm khung bên phải của thành viên */
.khung_ben_phai {
  height: 200px;
  width: 1000px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 5px solid black;
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 0px 13px, rgba(0, 0, 0, .5);
  opacity: 0;
  animation: 0;
}
.khung_ben_phai .hinh_anhthanhvien_P{
  height: 150px;
  width: 300px;
  margin-right: 5%;
  border: 5px solid #6d2fb5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 15px #6d2fb5 ;
}
.khung_ben_phai .hinh_anhthanhvien_P .img{
  position: absolute;
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
}
.khung_ben_phai .text_thanhvien_P{
  margin-left: 3%;
  color: white;
}
.khung_ben_phai .text_thanhvien_P h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 800;
}
.khung_ben_phai .text_thanhvien_P p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 800;
}
/* Hoạt động */
.home-section_hoatdong{
  height: 98vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  box-shadow: 0 0 40px rgba(0, 0, 0, .8);
}
/* dòng đầu tiên */
.text_dau1{
  margin-left: 10%;
  color: white;
  text-align: left;
}
.text_dau1 h1{
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.text_dau1 h2{
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.khung_video{
  margin-right: 10%;
  height: 300px;
  width: 600px;
  border: 5px solid #6d2fb5;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.Video_nen {
  position: absolute;
  width: 100%;
}
/* dòng sau */
.text_dau2{
  margin-right: 10%;
  color: white;
  text-align: right;
}
.text_dau2 h1{
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.text_dau2 h2{
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.khung_video2{
  margin-left: 10%;
  height: 300px;
  width: 600px;
  border: 5px solid #6d2fb5;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.Video_nen {
  position: absolute;
  width: 100%;
}
/* gạch giữa 2 dòng hoạt động */
.gach_ngang{
  height: 20px;
  width: 100%;
  background-color: white;
}
/* dòng dùng để nhập vào FACEBOOK */
.facebook{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  text-align: center;
}
.text_dau_facebook{
  margin: auto;
  text-align: center;
  color: white;
}
.text_dau_facebook h1{
  margin-bottom: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}
.text_dau_facebook .a_facebook{
  display: inline-block;
  height: 60px;
  width: 120px;
  background-color: #000000;
  border: none;
  outline: none;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  color: white;
  z-index: 1;
  
}
.text_dau_facebook .a_facebook p{
  margin-top: 18%
}
.text_dau_facebook .a_facebook span{
  position: absolute;
  background-color: #6d2fb5;
  display: block;
  transition: all 0.2s linear;
}
.text_dau_facebook .a_facebook span:nth-child(1) {
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
}
.text_dau_facebook .a_facebook span:nth-child(2) {
  top: 0;
  right: 0;
  height: 0;
  width: 3px;
  
}
.text_dau_facebook .a_facebook span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 3px;
  width: 0;
}
.text_dau_facebook .a_facebook span:nth-child(4){
  bottom: 0;
  left: 0;
  height: 0;
  width: 3px;
}
.text_dau_facebook .a_facebook:hover span:nth-child(odd) {
  width: 100%;
}
.text_dau_facebook .a_facebook:hover span:nth-child(even) {
  height: 100%;
}
.text_dau_facebook .a_facebook:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #6d2fb5;
  transition: width .3s linear .25s;
  z-index: -1;
}
.text_dau_facebook .a_facebook:hover:before{
  width: 100%;
}
/* icon đường link của dòng cuối */
.icon{
  right:0;
  justify-content: space-between;
  vertical-align: bottom;
}
.icon .icon1{
  color: white;
  font-size: 30px;
  margin-right: 5%;
}
.icon .icon2{
  color: rgb(3, 2, 2);
  font-size: 30px;
  margin-right: 5%;
}
.icon .icon1:hover{
  color: #6d2fb5;
}
.icon .icon2:hover{
  color: #6d2fb5;
}
.icon .icon3{
  color: white;
  font-size: 30px;
}
.icon .icon3:hover{
  color: #6d2fb5
}
